@import "helper";
@import "../font/fonts.css";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}



*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "RF Dewi Extended", serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

$c-black: #303030;

.container{
  max-width: 1360px;
  width: 100%;
}

body{
  overflow-x: hidden;
}



.btn-green{
  border-radius: 100px;
  background: #50BA1E;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 14px;
  padding: 11px 24px;
}

.btn-white{
  border-radius: 100px;
  background: #FFF;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

$transMenu: 0.5s;


.heading{
  color: #303030;
  font-size: 13.5rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -12.96px;
  text-transform: capitalize;
}

//......... Modal End





// ..... Modal end




// Max Header


.max-header{


  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 615px;
    transition: $transMenu;
    z-index: 1;

    .nav-menu{
      height: 96px;
      @include flex('sb', 'c');
      position: relative;
    }
    .nav-logo{
      //width: 104px;
      //height: 32px;
      width: 772px;
      height: 237px;
      position: absolute;
      left: 50%;
      top: 255px;
      transform: translate(-50%, -50%);
      transition: $transMenu;
      svg{
        width: 100%;
        height: 100%;
        path{
          transition: $transMenu;
        }
      }
    }
    .home-for-people{
      margin-left: 0;
      transition: $transMenu;
    }
    .btn-menu, .btn-white{
      transition: $transMenu;
    }
  }

  header{
    width: 100%;
    height: 900px;
    background: url("../images/header-bg.png") no-repeat center;
    background-size: cover;
    transform: translateY(615px);
    transition: $transMenu;
  }

  &.nav--fixed{
    header{
      transform: translateY(96px);
    }
    nav{
      height: 96px;
      background: transparent;

      .nav-logo{
        width: 104px;
        height: 32px;
        left: 0;
        top: 27px;
        transform: translate(0, 0);
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #fff;
          }
        }
      }
      .home-for-people{
        margin-left: 200px;
        color: #fff;
      }
      a{
        color: #fff;
      }
      .btn-menu{
        color: #fff;
      }
      .btn-white{
        border-color: #fff;
      }
    }
    &.nav-color-black{
      .nav-logo{
        width: 104px;
        height: 32px;
        left: 0;
        top: 27px;
        transform: translate(0, 0);
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #303030;
          }
        }
      }
      a{
        color: #303030;
      }
      .btn-menu{
        color: #303030;
      }
      .btn-white{
        border-color: #303030;
      }
    }
  }


  .good-luck{
    @include flex('s', 'c');
    &-item{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      @include flexCenter;
      background: #50BA1E;
      color: #fff;
      margin-left: -0.625rem;
      border: 1px solid #fff;
      &:first-child{
        margin-left: 0;
      }
      &:hover{
        position: relative;
        z-index: 10;
      }
    }
  }

}

.custom-tooltip{

  .tooltip-inner{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0.125rem 1rem 0 rgba(0, 0, 0, 0.10);
    padding: 0.75rem;
    color: $c-black;
    text-align: left;

  }
  .tooltip-arrow{
    &:before{
      display: none !important;
    }
  }
}


//.. Max header


//.... .......About


.lagom-about{
  margin-top: 150px;
  margin-bottom: 100px;
  .about-subtitle{
    color: rgba(48, 48, 48, 0.60);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    max-width: 500px;
    width: 100%;
    margin: 58px auto 0 auto;
  }


  .user-about{
    display: flex;
    justify-content: end;
    margin-top: -40px;
    h4{
      color: #303030;
      font-size: 1rem;
      font-weight: 700;
    }
    span{
      color: #303030;
      font-size: 0.875rem;
      font-weight: 400;
      text-align: right;
      display: block;
    }
  }


}

//................. Aboout -end



//.........principles_of_Lagom_house

.link-right{
    width: 4rem;
    height: 4rem;
  background: #50BA1E;
  text-align: right;
  padding: 8px 8px 0 0;
  cursor: pointer;
  img{
    width: 32px !important;
    height: 32px !important;
  }
}


.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.panel-title{
  color: #303030;
  font-size: 24px;
  font-weight: 700;
}

.gallery{
  position: relative;
  left: -30px;
  top: 80px;
  .box1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 950px;
    width: 100%;
    img {
    width: 100%;
      height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }
  .box2{
    position: absolute;
    top: 22px;
    left: 100px;
    max-width: 212px;
    width: 100%;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }

  .box3{
    position: absolute;
    top: 450px;
    left: 280px;
    max-width: 282px;
    width: 100%;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      right: -64px;
      top: -64px;
    }
  }

  .box4{
    position: absolute;
    right: 0;
    top: -40px;
    max-width: 308px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }
  .box5{
    position: absolute;
    right: 80px;
    top: 490px;
    max-width: 230px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-right1{
      position: absolute;
      right: -64px;
      top: -64px;
    }
  }

  }


.inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  .box-title{
    position: relative;
    top: 50px;
    left: -30px;
    h3{
      color: #303030;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .gallery2{
    position: relative;
    top: 40px;
    left: -180px;
    .box1{
      max-width: 400px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        right: -200px;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
      }
      .box2-text{
        right: -150px ;
      }
    }
    .box2{
      max-width: 200px;
      width: 100%;
      position: absolute;
      left: -170px;
      top: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        left: -180px;
        top: 80%;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
        span{
          margin-left: 65px;
        }
      }
      .box2-text{
       span{
         margin-left: 100px;
       }
      }
    }
    .box3{
      max-width: 200px;
      width: 100%;
      position: absolute;
      bottom: -30px;
      right: -110px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        right: -180px;
        top: 80%;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
      }
      .box2-text{
        right: -150px;
        }
    }

  }


}

.inner2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 100%;

  .title{
    color: #303030;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    max-width: 480px;
    width: 100%;
  }

  .title2{
    max-width: 480px;
    width: 100%;
    color: rgba(48, 48, 48, 0.60);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
  }

  .title5{
    color: #303030;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    max-width: 511px;
    width: 100%;
    margin-left: -70px;
  }

  .heading-5{
    color: #303030;
    font-size: 2rem;
    font-weight: 700;
  }

  .green-box{
    width: 172px;
    height: 172px;
    background: #50BA1E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.875rem; /* 100% */
  }


}


.inner3{
  justify-content: center;
  gap: 600px;
}

//........... principles_of_Lagom_house End


//. ........ Planning .......



.planning{
  position: relative;

    .col-green{
      position: absolute;
      max-width: 496px;
      width: 100%;
      right: 100px;
      height: 0;
      top: 306px;
      transition: .2s;
      &.active{
        height: 680px;
      }
      .col-green2{
        overflow: hidden;
        height: 0;
        transition: .3s;
        &.active{
          height: auto;
        }
      }

      .open-close{
        display: none;
        cursor: pointer;
        border-radius: 0 0 16px 16px;
        background: #FFF;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        color: rgba(48, 48, 48, 0.60);
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        &.active{
          display: flex;
        }
        i{
          font-size: 16px;
          color: #000;
        }
      }

      .col-box{
        width: 100%;
        height: 100%;
        padding: 40px;
        background: linear-gradient(0deg, #50BA1E 0%, #50BA1E 100%);

        h5{
          color: rgba(255, 255, 255, 0.60);
          font-size: 12px;
          font-weight: 400;
          line-height: 1rem; /* 133.333% */
          letter-spacing: -0.36px;
        }

        .box-head{
          color: #FFF;
          font-size: 1.5rem;
          font-weight: 700;
        }

        .box-title{
          color: rgba(255, 255, 255, 0.80);
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }

        .select-box{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          .select{
            width: 45%;
            margin-bottom: 25px;



            select{
              width: 100%;
              padding: 16px;
              background: #fff;
              border-radius: 4px;
              color: #303030;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              letter-spacing: -0.42px;
              option{
                padding: 15px 0;
              }
            }

          }

        }


        .check-box{
          display: flex;
          justify-content: left;
          align-items: center;

          .check{
            margin-right: 26px;
            display: flex;
            align-items: center;
            &:last-child{
              margin-right: 0;
            }
            input{
              width: 20px;
              height: 20px;
            }
            span{
              color: #FFF;
              font-size: 14px;
              font-weight: 600;
              line-height: 16px; /* 114.286% */
              letter-spacing: -0.42px;
            }
          }

        }


        .btn-planning{
          width: 100%;
          margin-top: 180px;
          button{
            display: flex;
            width: 100%;
            padding: 16px 24px 18px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: #FFF;
            color: #303030;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px; /* 100% */
          }
        }

      }

      .col-box1{
        display: none;
        &.active{
          display: block;
        }
      }

      .col-box2{
        display: none;
        &.active{
          display: block;
        }
        .buttons-icons{
          margin-top: 24px;
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .button-icon{
            padding: 4px 8px;
            border-radius: 4px;
            background: #F5F7F9;
            color: #303030;
            font-size: 14px;
            font-weight: 600;
            line-height: 14px; /* 100% */
            cursor: pointer;
          }

          .icon{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffff;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
          }

        }

        .box-title2{
          color: #FFF;
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          margin: 24px 0;
        }


        .scroll-box{
          height: 200px;
          overflow-y: auto;
          &::-webkit-scrollbar-thumb {
            background: #fff;
          }
          &::-webkit-scrollbar-track {
            background: #beb9b9;
          }
          p{
            color: #FFF;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1rem; /* 114.286% */
          }
        }

        .switch-box{
          padding: 24px 0;
          display: flex;
          border-bottom: 1px solid rgba(255, 255, 255, 0.20);
          span{
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px; /* 114.286% */
          }

        }


        .price-box{
          display: flex;
          justify-content: space-between;
          margin: 24px 0;
          h4{
            color: rgba(255, 255, 255, 0.60);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5rem; /* 171.429% */
          }
          .price{
            samp{
              color: rgba(255, 255, 255, 0.60);
              font-size: 1rem;
              font-weight: 600;
              line-height: 24px; /* 150% */
              text-decoration: line-through;
            }
            span{
              color: #FFF;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.5rem; /* 100% */
            }
          }
        }


        .buttons{
          width: 100%;
          display: flex;
          align-items: center;
          button{
            display: flex;
            padding: 1rem 1.5rem 1.125rem 1.5rem;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: #FFF;
            color: #303030;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 14px; /* 100% */
          }
          .btn-white{
            width: 70%;
          }

          .btn-green{
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: transparent;
            color: #fff;
            width: 30%;
          }

        }


        .def-switch {
          span {
            border-radius: 30px;
            background: linear-gradient(0deg, #50BA1E 0%, #52d711 100%), #FFF;
            width: 44px;
            height: 24px;
            padding: 0 2px;
            position: relative;
            display: inline-block;
            -webkit-transition: 0.3s background-color;
            transition: 0.3s background-color;
            &:hover {
              background: linear-gradient(0deg, #50BA1E 0%, #52d711 100%), #FFF;
            }
            &:after {
              content: "";
              width: 20px;
              height: 20px;
              border-radius: 22px;
              background: #fff;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              position: absolute;
              left: 2px;
              top: 2px;
            }
          }
          input {
            display: none;
            &:checked {
              ~ {
                span {
                  &:after {
                    left: 21px;
                  }
                  background: linear-gradient(0deg, #50BA1E 0%, #52d711 100%), #FFF;
                  &:hover {
                    background: linear-gradient(0deg, #50BA1E 0%, #52d711 100%), #FFF;
                  }
                }
              }
            }
          }
        }


      }

    }


  .container1{
    display: none;
    margin-top: 90px;
    min-height: 100vh;
    &.active{
      display: block;
    }
    .image-box{
      width: 100%;
      height: 100%;
    }

  }


  .slider-image{
    margin-top: 90px;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: .3s;
    &.active{
      display: flex;
      justify-content: end;
      align-items: end;
    }

    .count{
      margin-right: 24px;
      margin-bottom: 45px;
      span{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      samp{
        color: rgba(255, 255, 255, 0.40);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

    }

    .slider-icon{
      margin-right: 111px;
      margin-bottom: 45px;
      i{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        padding: 12px;
        font-size: 24px;
        color: #303030;
        background: #fff;
        cursor: pointer;

      }
    }

    .buttons{
      display: flex;
      align-items: center;
      margin-right: 40px;
      width: 30%;
      margin-bottom: 40px;
      button{
        display: flex;
        padding: 1rem 1.5rem 1.125rem 1.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #FFF;
        color: #303030;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 14px; /* 100% */
      }
      .btn-white{
        max-width: 116px;
        width: 100%;
        background: #fff;
        color: #303030;
      }

      .btn-green{
        border-radius: 100px;
        background: #50BA1E;
        color: #fff;
        max-width: 292px;
        width: 100%;
      }

    }

  }

  .switch-planning {
    position: absolute;
    left: 25%;
    bottom: 40px;
    z-index: 1;
    span {
      i{
        color: #fff;
        position: relative;
        left: -20px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 14px; /* 100% */
        letter-spacing: -0.42px;
      }
      border-radius: 90px;
      background: #303030;
      width: 213px;
      height: 36px;
      position: relative;
      -webkit-transition: 0.3s background-color;
      transition: 0.3s background-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      &:after {
        content: "Планировка";
        width: 139px;
        height: calc(100% - 4px);
        border-radius: 22px;
        background: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 2px;
        font-size: 14px;
      }
    }
    input {
      display: none;
      &:checked {
        ~ {
          span {
            content: 'Планировка';
            color: #fff;
            padding-left: 20px;
            &:after {
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              content: "3D";
              width: 68px;
              color: #000;
              left: 143px;
            }
            background: #303030;
            &:hover {
              background: #303030;
            }
          }
        }
      }
    }
  }

}



//............ Planning end


//.......... You'll-get ..



.youll-get{
    border-top: 1px solid rgba(153, 153, 153, 0.38);
    border-bottom: 1px solid rgba(153, 153, 153, 0.32);
  padding-bottom: 30px;
  .container-youl-get{
    margin-top: 50px;
    #container {
      width: 100%;
      min-height: 100vh;
      position: relative;
      top: 10px;
      left: 0;
    }

    .youll-get-head{
      color: #303030;
      font-size: 24px;
      font-weight: 600;
      position: relative;
      top: 25px;
    }

    .box-title{
      max-width: 660px;
      width: 100%;
      position: absolute;
      right: 0;
      top: 300px;

      .title1{
        color: rgba(48, 48, 48, 0.60);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }

      .heading{
        font-size: 13.125rem!important;
      }

      .buttons{
        display: flex;
        justify-content: end;
        align-items: end;

        span{
          color: rgba(48, 48, 48, 0.40);
          text-align: right;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px; /* 133.333% */
        }

        button{
          display: flex;
          padding: 16px 24px 18px 24px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 100px;
          background: #50BA1E;
          color: #FFF;
          font-size: 14px;
          font-weight: 700;
          line-height: 14px; /* 100% */
        }

      }


    }


    .panel.description {
      padding-bottom: 60px;
    }
    .panel-youl {
      position: absolute;
      will-change: transform;
      left: -100px;
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      color: white;
      box-sizing: border-box;
      padding: 10px;
    }

    .panel-youl .image{
      max-width: 660px;
      width: 100%;
      height: 443px;
    }


    .panel-youl .image img{
     width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .section_nav {
      position: absolute;
      right: 0;
      z-index: 5;
      top: 55px;
    }
    .section_nav a {
      display: block;
      color: rgba(48, 48, 48, 0.60);
      font-size: 24px;
      font-weight: 600;
      line-height: 24px; /* 100% */
      margin: 10px 0;
    }

  }


}

//......... You'll-get...



//........ AutorsProject

.authorsProject{
  margin-top: 72px !important;
  .container{

 .head{
   color: #303030;
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 4rem ;
 }

   .col-box{
      position: relative;
     width: 100%;
     height: 100%;
     .col-title{
       max-width: 191px;
       width: 100%;

       h4{
         color: #303030;
         font-size: 1rem;
         font-weight: 700;
         margin-top: 24px;
         margin-bottom: 8px;
       }

       span{
         color: #303030;
         font-size: 0.875rem;
         font-weight: 400;
         opacity: 0.6;
       }

     }

     p{
       color: rgba(48, 48, 48, 0.60);
       text-align: end;
       font-size: 16px;
       font-weight: 400;
       line-height: 24px; /* 150% */
       max-width: 362px;
       width: 100%;
     }

   }


  }



}



// ......... AutorsProject


// ........ Team

.team{

.slider-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  p{
    color: rgba(48, 48, 48, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .count{
    margin-right: 160px;
    span{
      color: #303030;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
    samp{
      color: rgba(48, 48, 48, 0.40);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

  }

}

  .slider{
    margin-top: 40px;
    .col-box {
      position: relative;
      width: 100%;
      height: 100%;

      .col-title {
        max-width: 191px;
        width: 100%;

        h4 {
          color: #303030;
          font-size: 1rem;
          font-weight: 700;
          margin-top: 24px;
          margin-bottom: 8px;
        }

        span {
          color: #303030;
          font-size: 0.875rem;
          font-weight: 400;
          opacity: 0.6;
        }

      }
    }

      .slick-track {
      display: flex;
      .slick-slide {
        height: auto !important;
        margin-right: 20px !important;
        cursor: pointer;
        @media (max-width: 768px) {
          margin-right: 10px !important;
        }
        &:last-child {
          margin-right: 0 !important;
        }

        img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover !important;
        }

      }

    }



    .slick-next{
      background-color: white;
      width: 48px !important;
      height: 48px !important;
      display: inline-block ;
      position: absolute;
      top: -98px ;
      right: 10px;
      border-radius: 50% !important;
      padding: 12px !important;
      border: 1px solid rgba(48, 48, 48, 0.20);
      font-size: 0;
      transition: .2s;
      &:active{
        border: 1px solid #303030;
      }
      &:before{
        content: '\f061';
        font-family: 'FontAwesome';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #303030;
      }
    }


    .slick-prev{
      background-color: white;
      width: 48px !important;
      height: 48px !important;
      display: inline-block ;
      position: absolute !important;
      right: 75px;
      top: -97px ;
      border-radius: 50% !important;
      padding: 12px !important;
      border: 1px solid rgba(48, 48, 48, 0.20);
      z-index: 32;
      font-size: 0;
      transition: .2s;
      &:active{
        border: 1px solid #303030;
      }
      &:before{
        content: '\f060';
        font-family: 'FontAwesome';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #303030;
      }
      @media (max-width: 1200px) {

      }
      @media (max-width: 1024px) {

      }
      @media (max-width: 768px) {

      }
      @media (max-width: 425px) {

      }
    }

  }



}


// ........ Team End



///...... .MAp

.map{
  min-height: 80vh;
  position: relative;
  margin-top: 110px;
  iframe{
    opacity: .6;
  }

  .container-map{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;

    .wrapper{
      max-width: 360px;
      width: 100%;
      padding: 24px;
      background: #fff;
      position: absolute;
      left: 130px;
      top: 40px;
      z-index: 7;


      .box-image{
        display: flex;
        align-items: center;

        .title{
          h4{
            color: #303030;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 16px; /* 114.286% */
          }
          span{
            color: rgba(48, 48, 48, 0.60);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 16px; /* 114.286% */
          }

        }

      }

      .time{
        margin-top: 24px;

        .number{
          color: #50BA1E;
          font-feature-settings: 'salt' on;
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 16px; /* 114.286% */
          display: block;
          cursor: pointer;
        }
        .times{
          color: #303030;
          font-feature-settings: 'salt' on;
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 16px;
          display: block;
          margin-bottom: 24px;
        }
        .mail{
          color: #303030;
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 16px; /* 114.286% */
          display: block;

        }

      }

      .button{
        .btn-green{
          padding: 13px 24px;
        }
      }



    }


  }



}


//........... Map End


//....... Footer

footer{
  background: #50BA1E;
  height: 40px;
  margin-top: -50px;
  .container-footer{
    .inner{
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        color: rgba(255, 255, 255, 0.40);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: -0.24px;
      }

      p{
        color: rgba(255, 255, 255, 0.40);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
        margin: 0;
        a{
          color: rgba(255, 255, 255, 0.40);
          font-size: 12px;
          font-weight: 600;
          line-height: 16px; /* 133.333% */
          text-decoration: underline;
        }
      }

    }


  }


}


//. .... Footer End