@import "helper";
@import "../font/fonts.css";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}



*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "RF Dewi Extended", serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

$c-black: #303030;

.container{
  max-width: 1360px;
  width: 100%;
}

body{
  overflow-x: hidden;
}



.btn-green{
  border-radius: 100px;
  background: #50BA1E;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.btn-white{
  border-radius: 100px;
  background: #FFF;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

$transMenu: 0.8s;


.heading{
  color: #303030;
  font-size: 13.5rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -12.96px;
  text-transform: capitalize;
}


// Max Header


.max-header{


  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 615px;
    transition: $transMenu;
    z-index: 1;

    .nav-menu{
      height: 96px;
      @include flex('sb', 'c');
      position: relative;
    }
    .nav-logo{
      //width: 104px;
      //height: 32px;
      width: 772px;
      height: 237px;
      position: absolute;
      left: 50%;
      top: 255px;
      transform: translate(-50%, -50%);
      transition: $transMenu;
      svg{
        width: 100%;
        height: 100%;
        path{
          transition: $transMenu;
        }
      }
    }
    .home-for-people{
      margin-left: 0;
      transition: $transMenu;
    }
    .btn-menu, .btn-white{
      transition: $transMenu;
    }
  }

  header{
    width: 100%;
    height: 900px;
    background: url("../images/header-bg.png") no-repeat center;
    background-size: cover;
    transform: translateY(615px);
    transition: $transMenu;
  }

  &.nav--fixed{
    header{
      transform: translateY(96px);
    }
    nav{
      height: 96px;
      background: transparent;

      .nav-logo{
        width: 104px;
        height: 32px;
        left: 0;
        top: 27px;
        transform: translate(0, 0);
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #fff;
          }
        }
      }
      .home-for-people{
        margin-left: 200px;
        color: #fff;
      }
      a{
        color: #fff;
      }
      .btn-menu{
        color: #fff;
      }
      .btn-white{
        border-color: #fff;
      }
    }
  }


  .good-luck{
    @include flex('s', 'c');
    &-item{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      @include flexCenter;
      background: #50BA1E;
      color: #fff;
      margin-left: -0.625rem;
      border: 1px solid #fff;
      &:first-child{
        margin-left: 0;
      }
      &:hover{
        position: relative;
        z-index: 10;
      }
    }
  }

}

.custom-tooltip{

  .tooltip-inner{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0.125rem 1rem 0 rgba(0, 0, 0, 0.10);
    padding: 0.75rem;
    color: $c-black;
    text-align: left;

  }
  .tooltip-arrow{
    &:before{
      display: none !important;
    }
  }
}


//.. Max header


//.... .......About


.lagom-about{
  margin-top: 150px;
  margin-bottom: 100px;
  .about-subtitle{
    color: rgba(48, 48, 48, 0.60);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    max-width: 500px;
    width: 100%;
    margin: 58px auto 0 auto;
  }


  .user-about{
    display: flex;
    justify-content: end;
    margin-top: -40px;
    h4{
      color: #303030;
      font-size: 1rem;
      font-weight: 700;
    }
    span{
      color: #303030;
      font-size: 0.875rem;
      font-weight: 400;
      text-align: right;
      display: block;
    }
  }


}

//................. Aboout -end



//.........principles_of_Lagom_house

.link-right{
    width: 4rem;
    height: 4rem;
  background: #50BA1E;
  text-align: right;
  padding: 8px 8px 0 0;
  cursor: pointer;
  img{
    width: 32px !important;
    height: 32px !important;
  }
}


.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.panel-title{
  color: #303030;
  font-size: 24px;
  font-weight: 700;
}

.gallery{
  position: relative;
  left: -30px;
  top: 80px;
  .box1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 950px;
    width: 100%;
    img {
    width: 100%;
      height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }
  .box2{
    position: absolute;
    top: 22px;
    left: 100px;
    max-width: 212px;
    width: 100%;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }

  .box3{
    position: absolute;
    top: 450px;
    left: 280px;
    max-width: 282px;
    width: 100%;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .link-right1{
      position: absolute;
      right: -64px;
      top: -64px;
    }
  }

  .box4{
    position: absolute;
    right: 0;
    top: -40px;
    max-width: 308px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-right1{
      position: absolute;
      left: -64px;
      bottom: -64px;
    }
  }
  .box5{
    position: absolute;
    right: 80px;
    top: 490px;
    max-width: 230px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-right1{
      position: absolute;
      right: -64px;
      top: -64px;
    }
  }

  }


.inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  .box-title{
    position: relative;
    top: 50px;
    left: -30px;
    h3{
      color: #303030;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .gallery2{
    position: relative;
    top: 40px;
    left: -180px;
    .box1{
      max-width: 400px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        right: -200px;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
      }
      .box2-text{
        right: -150px ;
      }
    }
    .box2{
      max-width: 200px;
      width: 100%;
      position: absolute;
      left: -170px;
      top: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        left: -180px;
        top: 80%;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
        span{
          margin-left: 65px;
        }
      }
      .box2-text{
       span{
         margin-left: 100px;
       }
      }
    }
    .box3{
      max-width: 200px;
      width: 100%;
      position: absolute;
      bottom: -30px;
      right: -110px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .link-right1{
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .box1-text{
        right: -180px;
        top: 80%;
        position: absolute;
        color: rgba(48, 48, 48, 0.60);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.32px;
      }
      .box2-text{
        right: -150px;
        }
    }

  }


}

.inner2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 100%;

  .title{
    color: #303030;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    max-width: 480px;
    width: 100%;
  }

  .title2{
    max-width: 480px;
    width: 100%;
    color: rgba(48, 48, 48, 0.60);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
  }

  .title5{
    color: #303030;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    max-width: 511px;
    width: 100%;
    margin-left: -70px;
  }

  .heading-5{
    color: #303030;
    font-size: 2rem;
    font-weight: 700;
  }

  .green-box{
    width: 172px;
    height: 172px;
    background: #50BA1E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.875rem; /* 100% */
  }


}


.inner3{
  justify-content: center;
  gap: 600px;
}

//........... principles_of_Lagom_house End


//. ........ Planning .......



.planning{

  .image-box{
    width: 100%;
    height: 100%;
  }

  .container1{
    margin-top: 90px;
  }

  .col-box{
    width: 100%;
    height: 100%;
    padding: 40px;
    background: linear-gradient(0deg, #50BA1E 0%, #50BA1E 100%);

    h5{
      color: rgba(255, 255, 255, 0.60);
      font-size: 12px;
      font-weight: 400;
      line-height: 1rem; /* 133.333% */
      letter-spacing: -0.36px;
    }

    .box-head{
      color: #FFF;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .box-title{
      color: rgba(255, 255, 255, 0.80);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    .select-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .select{
        width: 45%;
        margin-bottom: 15px;



        select{
          width: 100%;
          padding: 16px;
          background: #fff;
          border-radius: 4px;
          color: #303030;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: -0.42px;
          option{
            padding: 15px 0;
          }
        }

      }

    }


    .check-box{
      display: flex;
      justify-content: left;
      align-items: center;

      .check{
        margin-right: 26px;
        display: flex;
        align-items: center;
        &:last-child{
          margin-right: 0;
        }
        input{
          width: 20px;
          height: 20px;
        }
        span{
          color: #FFF;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px; /* 114.286% */
          letter-spacing: -0.42px;
        }
      }

    }


    .btn-planning{
      width: 100%;
      margin-top: 130px;
      button{
        display: flex;
        width: 100%;
        padding: 16px 24px 18px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #FFF;
        color: #303030;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px; /* 100% */
      }
    }

  }

  .col-box1{
    display: none;
    &.active{
      display: block;
    }
  }

  .col-box2{
    display: none;
    &.active{
      display: block;
    }
    .buttons-icons{
      margin-top: 24px;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button-icon{
        padding: 4px 8px;
        border-radius: 4px;
        background: #F5F7F9;
        color: #303030;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px; /* 100% */
        cursor: pointer;
      }

      .icon{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffff;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
      }

    }

    .box-title2{
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      margin: 24px 0;
    }


    .scroll-box{
      height: 200px;
      overflow-y: auto;
      &::-webkit-scrollbar-thumb {
        background: #fff;
      }
      &::-webkit-scrollbar-track {
        background: #beb9b9;
      }
      p{
        color: #FFF;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1rem; /* 114.286% */
      }
    }

    .switch-box{
      padding: 24px 0;
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
      span{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
      }

    }


    .price-box{
      display: flex;
      justify-content: space-between;
      margin: 24px 0;
      h4{
        color: rgba(255, 255, 255, 0.60);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem; /* 171.429% */
      }
      .price{
        samp{
          color: rgba(255, 255, 255, 0.60);
          font-size: 1rem;
          font-weight: 600;
          line-height: 24px; /* 150% */
          text-decoration: line-through;
        }
        span{
          color: #FFF;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.5rem; /* 100% */
        }
      }
    }


    .buttons{
      width: 100%;
      display: flex;
      align-items: center;
      button{
        display: flex;
        padding: 1rem 1.5rem 1.125rem 1.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #FFF;
        color: #303030;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 14px; /* 100% */
      }
      .btn-white{
        width: 70%;
      }

      .btn-green{
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: transparent;
        color: #fff;
        width: 30%;
      }

    }

  }


}





//............ Planning end


