


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}



@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

